<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.panda.dao.GoodsInfoMapper">
    <resultMap id="BaseResultMap" type="com.graduation.panda.model.GoodsInfo">
        <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="market_name" jdbcType="VARCHAR" property="marketName" />
        <result column="purchase_price" jdbcType="VARCHAR" property="purchasePrice" />
        <result column="sell_price" jdbcType="VARCHAR" property="sellPrice" />
        <result column="goods_introduce" jdbcType="VARCHAR" property="goodsIntroduce" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />
        <result column="image" jdbcType="VARCHAR" property="image" />
    </resultMap>

    <!--默认排序-->
    <select id="findByKeyword" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%') LIMIT 10
    </select>

    <!--按价格升序排列-->
    <select id="findByKeywordPriceAsc" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%') order by sell_price asc LIMIT 10
    </select>

    <!--价格降序排列-->
    <select id="findByKeywordPriceDesc" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%') order by sell_price desc LIMIT 10
    </select>

    <!--数量-->
    <select id="findByKeywordCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%')
    </select>

    <!--分页查询-->
    <select id="findByKeywordLimit" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%') LIMIT #{staNum},10
    </select>

    <!--价格升序分页查询-->
    <select id="findByKeywordPriceAscLimit" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%') order by sell_price asc LIMIT #{staNum},10
    </select>
    <!--价格降序分页查询-->
    <select id="findByKeywordPriceDescLimit" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from goods_info
        where keyword LIKE CONCAT(CONCAT('%',#{keyword}),'%') order by sell_price desc LIMIT #{staNum},10
    </select>

</mapper>